@media (max-width: 767px) {
    h1 {
        font-size: 1.5rem;
    }

    .content {
        width: 100%;
    }

    #input-new-task {
        width: 100%;
        font-size: 1rem;
    }

    #btn-add-task {
        width: 100%;
        border-radius: 1rem;
        height: auto;
        padding: 1rem;
    }

    #to-do-list > li {
        font-size: 1.1rem;
        gap: 1rem;
    }

    #btn-ok {
        width: 40px;
        height: 40px;
    }
}
