@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --color-red: #FE3435;
    --color-green: #56ac01;
    --color-black: #222222;
    --color-black2: #363636;
    --color-black3: #1d1c1c;
    --color-white: #FFFFFF;
}

* {
    font-family: 'Spectral', serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content--add-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

#input-new-task, #btn-add-task {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 1rem;
}

#input-new-task {
    width: 20rem;
    border-radius: 1rem;
}

#btn-add-task {
    background: var(--color-black2);
    color: var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#btn-add-task:hover {
    background: var(--color-white);
    color: var(--color-black);
    transition: 0.4s;
}

#to-do-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}

#to-do-list > li {
    list-style-type: none;
    font-size: 1.4rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#to-do-list > li:hover {
    background: var(--color-black3);
    transition: .4s;
    border-radius: 1rem;
    padding-left: 1rem;
}

#btn-ok {
    border: none;
    background: var(--color-green);
    color: var(--color-white);
    padding: .4rem .8rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

#btn-ok:hover {
    background: var(--color-red);
    color: var(--color-black);
}